{{!-- <h1>{{title}}</h1> --}}

<div class="content">
<h2 class="title">Multimedia App</h2>

<p class="welcome">Hello everyone, <br><br>

Welcome to our multimedia webpage, where we focus on improving accessibility. Our navigation menu above allows you to easily navigate to different pages of our website.
<br><br>
To make our website more accessible, we have ensured that all elements can be accessed using keyboard navigation. Additionally, we have included keyboard shortcuts to make it even easier to navigate our site. To use these shortcuts, simply press <span> "Alt/Option + [key]" </span> on Windows/Mac machines.
<br><br>
We hope that our efforts towards accessibility will make your browsing experience more enjoyable and convenient. Thank you for visiting our website!</p>


<div class="thank_you">Thank You For Visiting!</div>
</div>