<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/audio">Audio</a></li>
      <li><a href="/video">Video</a></li>
    </ul>
  </nav>
</header>

    {{{body}}}
  </body>
</html>
