

<div class="content">
    <video controls>
    <source src="/videos/video.mp4" type="video/mp4">
    <track default kind="captions" src="/videos/video_transcript.vtt" srclang="en">
    <p>
    Your browser doesn't support HTML audio. Here is a
    <a href="../public/videos/video.mp4">link to the video</a> instead.
    </p>
    </video>
    <button class="caption_button" onclick="CaptionControl()" aria-label="To on or off captions" accesskey="m">CC On/Off (m)</button>

    <div class="v-controls">
    <button tabindex="0" class="v-playpause control-button" aria-label="Play or Pause Button" accesskey="p">Play (p)</button>
    <button tabindex="0" class="v-stop control-button" aria-label="Stop Audio Button" accesskey="s">Stop (s)</button>
    <button tabindex="0" class="v-rewind control-button" aria-label="Rewind  Audio by 5 secs Button" accesskey="r">Rewind (r)</button>
    <button tabindex="0" class="v-forward control-button" aria-label="Forward Audio by 5 secs Button" accesskey="f">Forward (f)</button>
    <button tabindex="0" class="v-volumeUp control-button" aria-label="Increase Volume by .2% Button" accesskey="u">Volume Up (u)</button>
    <button tabindex="0" class="v-volumeDown control-button" aria-label="Decrease Volume by .2% Button" accesskey="t">Volume Down(t)</button>
    <button tabindex="0" class="v-speedUp control-button" aria-label="Increase Playback speed by .5% Button" accesskey="q">Speed Up (q)</button>
    <button tabindex="0" class="v-speedDown control-button" aria-label="decrease Playback speed by .5% Button" accesskey="w">Speed Down (w)</button>
    <div class="v-time control-button">00:00</div>
    </div>
</div>
